.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spinner {
    color: var(--color-primary);
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
